<% action = @department.new_record? ? :create : :update %>
<%= form_with(model: @department, local: true,:url => {:action => action}) do |form| %>
  <% if @department.present? && @department.errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this management_portal_department from being saved:</h2>

      <ul>
        <% @department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id='main'>
    <div>
      <label>組織名</label>
      <%= form.text_field :name %>
    </div>
    <div>
      <label>組織コード</label>
      <%= form.text_field :department_code %>
    </div>
  </div>

  <div class="登録">
    <%= form.submit %>
  </div>
<% end %>
