<h1>ManagementPortal ホーム画面</h1>
<div>
  <p>
    <%= link_to '所属組織管理', management_portal_departments_url %>
  </p>
  <p>
    <%= link_to 'ユーザ管理', management_portal_users_path %>
  </p>
  <p>
    <%= link_to '会議室管理', management_portal_meeting_rooms_path %>
  </p>
  <p>
    <%= link_to '予約管理', management_portal_meeting_room_reservations_path %>
  </p>
  <p>
    <%= link_to '会議室稼働率', '' %>
  </p>
  <p>
    <%= link_to '管理者ユーザ管理', '' %>
  </p>
</div>
